.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    position: fixed; 
    left: 5%; 
    background-color: white;
    /* padding: 1rem; */
    z-index: 30;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slide-down 300ms ease-out forwards;  
    position:absolute;
}

.modalSm{
  width: 90%;
  top: 20vh;
}
.modalLg{
  top: 2vh;
  width: 90%;
}
.closeIcon{
  z-index: 40;
  font-size: 60px;
  color:#975beb;
  left: 88%;
  top:-19px;
  position: fixed;
  cursor: pointer; 
  transition: 0.1s ease-in-out;
}

.closeIcon:hover{
  font-size: 65px;
}

@media (min-width: 768px) {
    .modalSm {
      width: 40rem;
      left: calc(50% - 20rem);  
    }
    .modalLg{
      width: 80%;
      left: calc(50% - 42%); 
    } 
    .closeIcon{
      left: 97%;
    }
  }

  @keyframes slide-down {
    from{
      opacity: 0;
      transform: translateY(-3rem);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }